html,
body,
#root,
.app,
.main {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

a {
    text-decoration: none;
    color: black;
}