html,
body,
#root,
.app {
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-height: 600px;
}

a {
    text-decoration: none;
    color: black;
}
